@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.header {
  background: #6af5ef;
  background: linear-gradient(0deg, #6af5ef 35%, #1afac2 86%);
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 576px) {
    .header {
      justify-content: start; } }

.main .mapa {
  background-color: #22bbc0b9;
  padding: 2vw;
  height: 54vh;
  box-sizing: border-box; }

.nav .nav-barra .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 25vw;
  text-decoration: none;
  color: black; }

.mainc .equipo .cuadro {
  position: relative;
  height: 22vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.5); }
  .mainc .equipo .cuadro img {
    width: 60vw;
    height: 100%; }
  .mainc .equipo .cuadro .capa {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 250, 194, 0.6);
    text-align: center; }
    .mainc .equipo .cuadro .capa h6 {
      font-size: 22px;
      font-weight: bold; }
  .mainc .equipo .cuadro:hover .capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    zoom: 110%; }
  .mainc .equipo .cuadro:visited .capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
  @media (min-width: 576px) {
    .mainc .equipo .cuadro img {
      width: 35vw; }
    .mainc .equipo .cuadro:hover .capa {
      zoom: 110%; } }
  @media (min-width: 992px) {
    .mainc .equipo .cuadro img {
      width: 22vw; } }

.header a .fas {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 10vh; }
  @media (min-width: 576px) {
    .header a .fas {
      justify-content: start;
      font-size: 13vh;
      padding-left: 2vw; } }
  @media (min-width: 992px) {
    .header a .fas {
      font-size: 15vh;
      padding-top: 0.5vw; } }

.mainb .formulario {
  display: flex;
  background-color: #22bbc0b9;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 5vh; }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: black; }

h2 {
  font-size: 35px;
  font-weight: bold;
  color: black; }

h3 {
  font-size: 30px;
  font-weight: bold;
  color: black; }

h5 {
  font-size: 25px;
  font-weight: bold;
  color: black; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.header a {
  text-decoration: none; }

.header h1 {
  display: none; }

@media (min-width: 576px) {
  .header h1 {
    display: flex; } }

@media (min-width: 992px) {
  .header h1 {
    padding-top: 2vh;
    padding-left: 2vw; } }

.nav {
  height: 7vh;
  background-color: #6af5ef;
  padding: 0px; }
  .nav .nav-barra {
    display: flex;
    padding: 0px; }
    .nav .nav-barra .nav-item-active {
      background-color: #02c4ba;
      font-size: 23px;
      display: flex; }
      .nav .nav-barra .nav-item-active:hover {
        background-color: #02c4ba;
        font-size: 23px; }
    .nav .nav-barra .nav-item {
      background-color: #6af5ef;
      font-size: 20px;
      display: flex; }
      .nav .nav-barra .nav-item:hover {
        background-color: #02c4ba;
        font-size: 23px; }

.main {
  height: 65vh;
  padding: 2vw;
  width: 100%;
  background-image: url(../img/fondogimnasio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; }
  .main h2 {
    text-align: center; }
  .main h3 {
    text-align: center; }
  .main .texto {
    background-color: #22bbc0b9;
    padding: 2vw;
    border-radius: 10px; }
    .main .texto p {
      font-family: "Josefin Sans", sans-serif;
      line-height: 35px;
      font-size: 21px;
      font-weight: bold;
      color: black; }
  .main .fotin {
    display: none; }
  .main .info {
    background-color: #22bbc0b9;
    padding: 2vw;
    height: 54vh;
    box-sizing: border-box;
    margin-bottom: 2vh; }
    .main .info p {
      font-family: "Josefin Sans", sans-serif;
      line-height: 35px;
      font-size: 21px;
      font-weight: bold;
      color: black; }

.mainc {
  height: 65vh;
  padding: 1vh;
  width: 100%;
  background-image: url(../img/fondogimnasio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; }
  .mainc h3 {
    text-align: center;
    color: #d8d8d8; }
  .mainc .equipo {
    background-color: #22bbc0b9;
    box-sizing: border-box;
    display: flex;
    height: 29vh;
    padding: 0px;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif; }

.mainb {
  height: 65vh;
  padding: 0px;
  width: 100%;
  background-image: url(../img/fondogimnasio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; }
  .mainb .carrusel {
    padding: 0px;
    box-sizing: border-box; }
    .mainb .carrusel .modelo {
      height: 65vh;
      width: 100%; }
  .mainb .formulario label {
    font-size: 20px;
    font-weight: bold; }

@media (min-width: 576px) {
  .mainc .equipo {
    padding: 5vh; } }

@media (min-width: 992px) {
  .main .fotin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px; }
    .main .fotin .antesdespues {
      border: 5px black solid;
      border-radius: 25px;
      height: 80%;
      width: 90%; }
  .mainc .equipo {
    padding: 6vw; } }

.footer {
  background-color: #04ada5; }
  .footer .footer-items {
    display: flex;
    align-items: center;
    height: 8vh; }
    .footer .footer-items .fab {
      font-size: 5vh;
      color: #242424; }
