@mixin mixnav ($fondo,$tamanio) {
    background-color: $fondo;
    font-size: $tamanio;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color:$fondonavactive;
        font-size: 23px;
    }
}
@mixin mixmain($altura,$padding,$anchura){
    height: $altura;
    padding: $padding;
    width: $anchura;
    background-image: url(../img/fondogimnasio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    margin: 0px;
}