.footer {
    background-color: $fondofooter;
    height: 8vh;
    .footer-items{
        display: flex;
        align-items: end;
        justify-content: space-between;
        .fab{
            font-size:5vh;
            color: rgb(36, 36, 36);
        }
    }
}