.footer {
    background-color: $fondofooter;
    .footer-items {
        display: flex;
        align-items: center;
        height:8vh;
        .fab {
            font-size: 5vh;
            color: rgb(36, 36, 36);
        }
    }
}