.header {
    @extend %estiloheader;

    a {
        text-decoration: none;

        .fas {
            @extend %estilofas;
        }
    }

    h1 {
        display: none;
    }
}

@media (min-width:576px) {
    .header {
        h1{
            display:flex;
        }
    }
}

@media (min-width:992px) {
    .header{
        h1{
            padding-top:2vh;
            padding-left: 2vw;
        }
    }
}