.main {
    @include mixmain(65vh, 2vw, 100%);
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .texto {
        background-color: $fondoitems;
        padding: 2vw;
        border-radius: 10px;

        p {
            font-family: $sans-serif;
            line-height: 35px;
            font-size: 21px;
            font-weight: bold;
            color: black;
        }
    }
    .fotin {
        display: none;
    }
    .info {
        background-color: $fondoitems;
        padding: 2vw;
        height: 56vh;
        box-sizing: border-box;
        margin-bottom: 2vh;

        p {
            font-family: $sans-serif;
            line-height: 35px;
            font-size: 21px;
            font-weight: bold;
            color: black;
        }
        //dentro de info dentro de main
        @media (min-width:992px) {
            margin-bottom: 0px;
        }
    }
    .mapa {
    @extend %estilomapa;
    }
}






.mainc {
    @include mixmain(65vh, 1vh, 100%);

    h3 {
        text-align: center;
        color: rgb(216, 216, 216);
    }

    .equipo {
        background-color: $fondoitems;
        box-sizing: border-box;
        display: flex;
        height: 29vh;
        padding: 0px;
        align-items: center;
        justify-content: center;
        font-family: $sans-serif;

        .cuadro {
            position: relative;
            height: 22vh;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.5);

            img {
                width: 60vw;
                height: 100%;

                @media(min-width:576px) {
                    width: 35vw;
                }

                @media(min-width: 992px) {
                    width: 22vw;
                }
            }

            .capa {
                display: none;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(26, 250, 194, 0.6);
                text-align: center;

                h6 {
                    font-size: 22px;
                    font-weight: bold;
                }
            }

            &:hover {
                .capa {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    zoom: 110%;
                }
            }

            &:visited {
                .capa {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }

        }

    }

    @media(min-width: 576px) {
        .equipo {
            .cuadro {
                &:hover {
                    .capa {
                        zoom: 110%;
                    }
                }
            }
        }

    }

}


.mainb {
    @include mixmain(65vh, 0px, 100%);

    .carrusel {
        padding: 0px;
        box-sizing: border-box;

        .modelo {
            height: 65vh;
            width: 100%;
        }
    }
    .formulario {
        display: flex;
        background-color: $fondoitems;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 5vh;
        label {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

@media (min-width: 992px) {
    .header {
        .fas {
            font-size: 15vh
        }

        h1 {
            padding-left: 10vw;
        }
    }

    .main {
        .fotin {
            display: flex;
            align-items: center;
            justify-content: center;

            .antesdespues {
                border: 5px black solid;
                border-radius: 25px;
                height: 80%;
                width: 90%;
            }
        }
    }
}