.main {
    @include mixmain(65vh, 2vw, 100%);

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .texto {
        background-color: $fondoitems;
        padding: 2vw;
        border-radius: 10px;

        p {
            font-family: $sans-serif;
            line-height: 35px;
            font-size: 21px;
            font-weight: bold;
            color: black;
        }
    }

    .fotin {
        display: none;
    }

    .info {
        background-color: $fondoitems;
        padding: 2vw;
        height: 54vh;
        box-sizing: border-box;
        margin-bottom: 2vh;

        p {
            font-family: $sans-serif;
            line-height: 35px;
            font-size: 21px;
            font-weight: bold;
            color: black;
        }

    }

    .mapa {
        @extend %estilomapa;
    }
}


.mainc {
    @include mixmain(65vh, 1vh, 100%);

    h3 {
        text-align: center;
        color: rgb(216, 216, 216);
    }

    .equipo {
        background-color: $fondoitems;
        box-sizing: border-box;
        display: flex;
        height: 29vh;
        padding: 0px;
        align-items: center;
        justify-content: center;
        font-family: $sans-serif;
        .cuadro {
            @extend %cuadro;
        }

    }
}

.mainb {
    @include mixmain(65vh, 0px, 100%);

    .carrusel {
        padding: 0px;
        box-sizing: border-box;

        .modelo {
            height: 65vh;
            width: 100%;
        }
    }

    .formulario {
        @extend  %formulario;

        label {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

@media (min-width:576px) {
    .mainc {
        .equipo {
            padding: 5vh;

        }
    }
}

@media (min-width: 992px) {
    .main {
        .fotin {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;

            .antesdespues {
                border: 5px black solid;
                border-radius: 25px;
                height: 80%;
                width: 90%;
            }
        }

    }

    .mainc {
        .equipo {
            padding: 6vw;

        }
    }

}