.main {
    @include mixmain(65vh, 2vw, 100vw);

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .texto {
        background-color: $fondoitems;
        padding: 2vw;

        p {
            font-family: $sans-serif;
            line-height:35px;
            font-size: 20px;
            font-weight: bold;
            color: rgb(7, 6, 6);
        }
    }

    .fotin {
        display: none;
    }
}

.info {
    background-color: $fondoitems;
    padding: 2vw;
    margin-bottom: 2vh;
    box-sizing: border-box;

    @media (min-width:992px) {
        height: 60vh;
    }
}

.mapa {
    background-color: $fondoitems;
    padding: 2vw;
    height: 60vh;
    box-sizing: border-box;
}


.mainc {
    @include mixmain(65vh, 0px, 100%);

    h3 {
        text-align: center;
    }

    .equipo {
        background-color: $fondoitems;
        box-sizing: border-box;
        display: flex;
        height: 29vh;
        padding:0px;
        align-items: center;
        justify-content: center;
        .cuadro {
            position: relative;
            height: 22vh;
            overflow: hidden;
            border-radius: 6px;
            img {
                width: 60vw;
                height: 100%;

                @media(min-width:576px) {
                    width: 35vw;
                }

                @media(min-width: 992px) {
                    width: 22vw;
                }
            }

            .capa {
                display: none;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(165, 177, 4, 0.7);
                text-align: center;
            }

            &:hover {
                .capa {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    zoom: 120%;
                }
            }

            &:visited {
                .capa {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }

        }

    }

    @media(min-width: 576px) {
        .equipo {
            .cuadro {
                &:hover{
                    .capa{
                        zoom:110%;
                    }
                }
            }
        }

    }

}


.mainb {
    @include mixmain(100%,0px, 100vw);

    .carrusel {
        padding: 0px;

        .modelo {
            height: 65vh;
            width: 100%;
        }
    }

    .formulario {
        display: flex;
        background-color: $fondoitems;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        padding:5vh;
        label {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

@media (min-width: 992px) {
    .header {
        .fas {
            font-size: 15vh
        }

        h1 {
            padding-left: 10vw;
        }
    }

    .main {
        .fotin {
            display: flex;
            align-items: center;
            justify-content: center;
            .antesdespues {
                border: 5px black solid;
                border-radius: 25px;
                height:80%;
                width: 90%;
            }
        }
    }
}