.nav {
    height: 7vh;
    background-color: $fondonav;
    padding: 0px;
    .nav-barra {
        display: flex;
        padding: 0px;
        .nav-item-active {
            @include mixnav ($fondonavactive,23px);
        }
        .nav-item {
            @include mixnav ($fondonav,20px);
        }
        .nav-link {
            @extend %estilolink;
        
        }
    }
}